header {
    background-color: #272727c7;
    color: white;
    margin: 10px 20px;
    padding: 10px 60px;
    border-radius: 20px;
    border: solid 2px white;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a img {
    height: 25px;
}

