main {
    margin-top: 80px;
    margin-bottom: 40px;
}

.menu {
    position: fixed;
    top: 80px;
    left: 100px;
    border-radius: 20px;
    background-color: #1e1e1edb;
    color: #fff;
    box-shadow: 0 0 8px #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    z-index: 100;
}

.menu-btn {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin: 3px 0;
}

.menu-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
}

.menu-content a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

/* Contenu de la page */

.content {
    padding : 20px;
    margin: 0 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.formation, .experience, .competence {
    display: flex;
    flex-direction: row;
}

.col-g {
    width: 20vw;
}

.col-d {
    width: 80vw;
}