<main>
    <div class="menu">
        <div class="menu-btn" (click)="toggleMenuCV()">
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
            <div class="menu-bar"></div>
        </div>
        <div class="menu-content" *ngIf="menuCV">
            <a href="/about#formations">Formations</a>
            <a href="/about#experiences">Expérience</a>
            <a href="/about#competences">Compétences</a>
            <a href="/about#associatif">Associatif</a>
            <a href="/about#moncv">Mon CV</a>
        </div>
    </div>

    <div class="content">
        <section id="formations">
            <h2>Mes formations</h2>
            <section class="formation">
                <div class="col-g">
                    <p>09/2024 - En cours</p>
                </div>
                <div class="col-d">
                    <h3>Diplôme d'ingénieur informatique de l'ISIMA</h3>
                    <p><b>INP ISIMA</b> | Aubière, France</p>
                    <p>2ème année d'ingénieur. Spécialisation en réseaux et sécurité informatique.</p>
                </div>
            </section>
            <section class="formation">
                <div class="col-g">
                    <p>09/2024 - 07/2025</p>
                </div>
                <div class="col-d">
                    <h3>Licence informatique mention informatique</h3>
                    <p><b>UCA</b> | Aubière, France</p>
                    <p>Validation d'une équivalence L3 informatique durant ma première année d'ingénieur à l'ISIMA.</p>
                </div>
            </section>
            <section class="formation">
                <div class="col-g">
                    <p>09/2022 - 07/2024</p>
                </div>
                <div class="col-d">
                    <h3>CPGE, PTSI/PT</h3>
                    <p><b>Lycée Dhuoda</b> | Nîmes, France</p>
                    <p>2 années en Classe Préparatoire aux Grandes Ecoles en Physique, Technologie et Sciences de l'Ingénieur.</p>
                </div>
            </section>
            <section class="formation">
                <div class="col-g">
                    <p>09/2019 - 06/2022</p>
                </div>
                <div class="col-d">
                    <h3>Baccalauréat, Mathématiques et Sciences de l'Ingénieur</h3>
                    <p><b>Lycée Condorcet</b> | Saint-Priest, France</p>
                </div>
            </section>
        </section>

        <section id="experiences">
            <h2>Mes expériences</h2>
            <section class="experience">
                <div class="col-g">
                    <p>02/2025 - En cours</p>
                </div>
                <div class="col-d">
                    <h3>Trésorier de l'association DreZZing</h3>
                    <p>Aubière, France</p>
                    <ul>
                        <li>Assurer la stabilité financière de l'association.</li>
                        <li>Gestion des projets.</li>
                    </ul>
                </div>
            </section>
            <section class="experience">
                <div class="col-g">
                    <p>07/2025</p>
                </div>
                <div class="col-d">
                    <h3>Préparateur de commande</h3>
                    <p>UPS | Saint-Quentin-Fallavier, France | Intérimaire</p>
                    <ul>
                        <li>Contrôle des commandes.</li>
                        <li>Mise en carton des commandes.</li>
                    </ul>
                </div>
            </section>
            <section class="experience">
                <div class="col-g">
                    <p>07/2023</p>
                </div>
                <div class="col-d">
                    <h3>Agent d'entretien des espaces verts</h3>
                    <p>Montpellier Méditérranée Métropole | Vendargues, France | Saisonnier</p>
                    <ul>
                        <li>Entretien et nettoyage des espaces verts.</li>
                        <li>Soufflage et ramassage des feuilles.</li>
                        <li>Entretien des surfaces : tonte, désherbage, balayage, ratissage et arrosage.</li>
                    </ul>
                </div>
            </section>
        </section>

        <section id="competences">
            <h2>Mes compétences techniques</h2>
            <section class="competence">
                <h3>Langages de programmation</h3>
                <ul>
                    <li>C</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Python</li>
                    <li>PHP</li>
                </ul>
            </section>
            <section class="competence">
                <h3>Web</h3>
                <ul>
                    <li>Angular</li>
                    <li>Colyseus</li>
                    <li>ASP.NET</li>
                </ul>
            </section>
            <section class="competence">
                <h3>Bases de données</h3>
                <ul>
                    <li>PostgreSQL</li>
                    <li>MySQL</li>
                </ul>
            </section>
            <section class="competence">
                <h3>Outils</h3>
                <ul>
                    <li>Microsoft Office</li>
                    <li>Visual Studio</li>
                    <li>UNIX</li>
                    <li>GIT</li>
                </ul>
            </section>
            <section class="competence">
                <h3>Cybersécurité</h3>
                <ul>
                    <li>OWASP</li>
                    <li>Pentesting</li>
                </ul>
            </section>
        </section>

        <section id="associatif">
            <h2>Mon engagement dans l'associatif</h2>

            <section class="assos">
                <ul class="logos">
                <li *ngFor="let asso of associations" (click)="selectAsso(asso)">
                    <img
                    [src]="asso.logo"
                    [alt]="'Logo ' + asso.name"
                    [class.active]="selectedAsso?.name === asso.name"
                    />
                </li>
                </ul>

                <div class="infos" *ngIf="selectedAsso">
                <h3>{{ selectedAsso.name }}</h3>
                <h4>{{ selectedAsso.description }}</h4>
                <h5>Poste : {{ selectedAsso.role }}</h5>
                <ul *ngIf="selectedAsso.details">
                    <li *ngFor="let detail of selectedAsso.details">{{ detail }}</li>
                </ul>
                </div>
            </section>
            </section>

        <section id="moncv">
            <h2>Mon CV au format PDF</h2>
            <div class="tel-cv">
                <button>Mon CV français</button>
                <button>My english resume</button>
            </div>
        </section>
    </div>

</main>
