html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
}

.special {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #1a1a1a);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 12s ease infinite;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.special h1 {
    font-size: 3em;
    z-index: 2;
    position: relative;
}

.wave {
    background: #1a1a1a;
    border-radius: 1000% 1000% 0 0;
    position: absolute;
    width: 200%;
    height: 6em;
    animation: wave 10s -3s ease-in-out infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.6;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s ease-in-out reverse infinite;
    opacity: 0.7;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 1;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

section {
    position: relative;
    padding: 20px;
    background: #1a1a1a;
    z-index: 100;
}

#projets {
    height: 50vh;
}

#blog {
    height: 50vh;
}

.seeMore {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #00000020;
    padding: 20px 40px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 0 2px #ffffff50;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.seeMore:hover {
    box-shadow: 0 0 10px #ffffff80;
    transform: translate(-50%, -50%) scale(1.05);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Réalisation de la fenêtre console */

.fenetre-console {
    position: absolute;
    top: 100px;
    left: 70px;
    height: 65vh;
    width: 50vw;
    overflow: hidden;
}

.fenetre-header {
    height: 30px;
    background-color: #272727;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fenetre-title {
    font-size: 13px;
    margin-left: 20px;
}

.fenetre-btn-content {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    padding: 0 15px;
}

.fenetre-btn {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.--close {
    background-color: red;
}

.--screen {
    background-color: orange;
}

.--reduce {
    background-color: green;
}

.fenetre-content {
    height: calc(100% - 30px);
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 5px;
    color: #272727;
    font-weight: 550;
    font-size: 18px;
}

.fenetre-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3px;
}

.fenetre-content ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.console-title {
    color: rgb(0, 170, 0);
}

.console-command {
    margin-left: 5px;
}

.fenetre-content ul li ul.ls-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.ls-result {
    width: 200px;
}

.--folder {
    color: blue;
}

.--file-pdf {
    color: rgb(0, 170, 0);
}