<section id="accueil" class="special">
    <div class="fenetre-console">
      <div class="fenetre-header">
        <div class="fenetre-btn-content">
          <div class="fenetre-btn --close"></div>
          <div class="fenetre-btn --screen"></div>
          <div class="fenetre-btn --reduce"></div>
        </div>
        <p class="fenetre-title">kylian@pc: ~</p>
      </div>
      <div class="fenetre-content" #content>
        <ul>
          <li *ngFor="let line of visibleLines; let i = index">
            <ng-container *ngIf="line.type === 'command'">
              <p class="console-title">{{ line.prompt }}</p>
              <p class="console-command">
                {{ line.animated ? animatedText : line.command }}
                <span class="cursor" *ngIf="isCurrentLine(i) && line.animated"></span>
              </p>
            </ng-container>
            
            <ng-container *ngIf="line.type === 'result'">
              <p class="console-result">{{ line.result }}</p>
            </ng-container>
            
            <ng-container *ngIf="line.type === 'ls'">
              <ul class="ls-results">
                <li *ngFor="let item of line.lsResults" 
                    [class]="'ls-result --' + item.type">
                  {{ item.name }}
                </li>
              </ul>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</section>

<section id="competences" class="common">
    <h2>Qui suis-je ?</h2>
    <h2>Qu'est ce que je sais faire ?</h2>
    <a href="/about" class="seeMore-btn">Me connaître</a>
</section>

<section id="projets" class="common">
    <h2>Mes projets</h2>
    <div class="projet-list">
        <div class="projet" *ngFor="let projet of projetPosts">
            <a [routerLink]="['/projet-post', projet.file]" class="projet-link">
                <div class="thumbnail" *ngIf="projet.thumbnail">
                    <img [src]="projet.thumbnail" [alt]="projet.title" />
                </div>

                <div class="projet-content">
                    <h2>{{ projet.title }}</h2>
                    <p class="meta">
                        Publié le {{ projet.date }} par {{projet.author}}
                    </p>
                    <div class="excerpt" [innerHTML]="projet.excerpt"></div>
                </div>
            </a>
        </div>
        <div class="projet-seeMore">
            <a href="/projects" class="projet-link">
                <div class="seeMore">
                    <p>Il y a {{ nbrProjet }} projets à aller voir !</p>
                    <p class="arrow">→</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section id="blog" class="common">
    <h2>Mon blog</h2>
    <div class="blog-list">
        <div class="blog" *ngFor="let blog of blogPosts">
            <a [routerLink]="['/blog-post', blog.file]" class="blog-link">
                <!-- ✅ Miniature facultative -->
                <div class="thumbnail" *ngIf="blog.thumbnail">
                    <img [src]="blog.thumbnail" [alt]="blog.title" />
                </div>

                <div class="blog-content">
                    <h2>{{ blog.title }}</h2>
                    <p class="meta">
                        Publié le {{ blog.date }} par {{ blog.author }}
                    </p>
                    <div class="excerpt" [innerHTML]="blog.excerpt"></div>
                </div>
            </a>
        </div>
        <div class="blog-seeMore">
            <a href="/blog" class="blog-link">
                <div class="seeMore">
                    <p>Il y a {{ nbrBlog }} articles du blog à aller voir !</p>
                    <p class="arrow">→</p>
                </div>
            </a>
        </div>
    </div>
</section>
